C 0 0 "GND" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "RESET*" 0 -100 0 0 60 0 L
X "PIN_TEXT" "RESET*" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 1200 0 "VCC" 1200 0 0 0 60 0 R
X "PIN_TEXT" "VCC" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
L 200 100 1000 100 -1 0
L 1000 -200 1000 100 -1 0
L 1000 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 1050 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

