C 0 0 "VBAT" 0 0 0 0 60 0 L
X "PIN_TEXT" "VBAT" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "PC13" 0 -100 0 0 60 0 L
X "PIN_TEXT" "PC13" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "PC14-OSC32_IN" 0 -200 0 0 60 0 L
X "PIN_TEXT" "PC14-OSC32_IN" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "PC15-OSC32_OUT" 0 -300 0 0 60 0 L
X "PIN_TEXT" "PC15-OSC32_OUT" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "PH3-BOOT0" 0 -400 0 0 60 0 L
X "PIN_TEXT" "PH3-BOOT0" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "PB8" 0 -500 0 0 60 0 L
X "PIN_TEXT" "PB8" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "PB9" 0 -600 0 0 60 0 L
X "PIN_TEXT" "PB9" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "NRST" 0 -700 0 0 60 0 L
X "PIN_TEXT" "NRST" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "PC0" 0 -800 0 0 60 0 L
X "PIN_TEXT" "PC0" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "PC1" 0 -900 0 0 60 0 L
X "PIN_TEXT" "PC1" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "PC2" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "PC2" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "PC3" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "PC3" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "VREF+" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "VREF+" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "VDDA" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "VDDA" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "PA0" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "PA0" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "PA1" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "PA1" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 0 -1600 "PA2" 0 -1600 0 0 60 0 L
X "PIN_TEXT" "PA2" 230 -1630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1600 0 -1600 -1 0
C 300 -2400 "PA3" 300 -2400 0 0 60 0 L
X "PIN_TEXT" "PA3" 330 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -2200 300 -2400 -1 0
C 400 -2400 "PA4" 400 -2400 0 0 60 0 L
X "PIN_TEXT" "PA4" 430 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -2200 400 -2400 -1 0
C 500 -2400 "PA5" 500 -2400 0 0 60 0 L
X "PIN_TEXT" "PA5" 530 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -2200 500 -2400 -1 0
C 600 -2400 "PA6" 600 -2400 0 0 60 0 L
X "PIN_TEXT" "PA6" 630 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -2200 600 -2400 -1 0
C 700 -2400 "PA7" 700 -2400 0 0 60 0 L
X "PIN_TEXT" "PA7" 730 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -2200 700 -2400 -1 0
C 800 -2400 "PA8" 800 -2400 0 0 60 0 L
X "PIN_TEXT" "PA8" 830 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -2200 800 -2400 -1 0
C 900 -2400 "PA9" 900 -2400 0 0 60 0 L
X "PIN_TEXT" "PA9" 930 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -2200 900 -2400 -1 0
C 1000 -2400 "PC4" 1000 -2400 0 0 60 0 L
X "PIN_TEXT" "PC4" 1030 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -2200 1000 -2400 -1 0
C 1100 -2400 "PC5" 1100 -2400 0 0 60 0 L
X "PIN_TEXT" "PC5" 1130 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -2200 1100 -2400 -1 0
C 1200 -2400 "PB2" 1200 -2400 0 0 60 0 L
X "PIN_TEXT" "PB2" 1230 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -2200 1200 -2400 -1 0
C 1300 -2400 "PB10" 1300 -2400 0 0 60 0 L
X "PIN_TEXT" "PB10" 1330 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -2200 1300 -2400 -1 0
C 1400 -2400 "PB11" 1400 -2400 0 0 60 0 L
X "PIN_TEXT" "PB11" 1430 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -2200 1400 -2400 -1 0
C 1500 -2400 "VDD_1" 1500 -2400 0 0 60 0 L
X "PIN_TEXT" "VDD_1" 1530 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1500 -2200 1500 -2400 -1 0
C 1600 -2400 "RF1" 1600 -2400 0 0 60 0 L
X "PIN_TEXT" "RF1" 1630 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1600 -2200 1600 -2400 -1 0
C 1700 -2400 "VSSRF" 1700 -2400 0 0 60 0 L
X "PIN_TEXT" "VSSRF" 1730 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1700 -2200 1700 -2400 -1 0
C 1800 -2400 "VDDRF" 1800 -2400 0 0 60 0 L
X "PIN_TEXT" "VDDRF" 1830 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1800 -2200 1800 -2400 -1 0
C 1900 -2400 "OSC_OUT" 1900 -2400 0 0 60 0 L
X "PIN_TEXT" "OSC_OUT" 1930 -2170 90 0.00 60 0 0 0 0 0 1 0 74
L 1900 -2200 1900 -2400 -1 0
C 2300 0 "PA10" 2300 0 0 0 60 0 R
X "PIN_TEXT" "PA10" 2070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 0 2300 0 -1 0
C 2300 -100 "PC6" 2300 -100 0 0 60 0 R
X "PIN_TEXT" "PC6" 2070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -100 2300 -100 -1 0
C 2300 -200 "PB15" 2300 -200 0 0 60 0 R
X "PIN_TEXT" "PB15" 2070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -200 2300 -200 -1 0
C 2300 -300 "PB14" 2300 -300 0 0 60 0 R
X "PIN_TEXT" "PB14" 2070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -300 2300 -300 -1 0
C 2300 -400 "PB13" 2300 -400 0 0 60 0 R
X "PIN_TEXT" "PB13" 2070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -400 2300 -400 -1 0
C 2300 -500 "PB12" 2300 -500 0 0 60 0 R
X "PIN_TEXT" "PB12" 2070 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -500 2300 -500 -1 0
C 2300 -600 "VDD_2" 2300 -600 0 0 60 0 R
X "PIN_TEXT" "VDD_2" 2070 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -600 2300 -600 -1 0
C 2300 -700 "VDDSMPS" 2300 -700 0 0 60 0 R
X "PIN_TEXT" "VDDSMPS" 2070 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -700 2300 -700 -1 0
C 2300 -800 "VLXSMPS" 2300 -800 0 0 60 0 R
X "PIN_TEXT" "VLXSMPS" 2070 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -800 2300 -800 -1 0
C 2300 -900 "VSSSMPS" 2300 -900 0 0 60 0 R
X "PIN_TEXT" "VSSSMPS" 2070 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -900 2300 -900 -1 0
C 2300 -1000 "VFBSMPS" 2300 -1000 0 0 60 0 R
X "PIN_TEXT" "VFBSMPS" 2070 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1000 2300 -1000 -1 0
C 2300 -1100 "PE4" 2300 -1100 0 0 60 0 R
X "PIN_TEXT" "PE4" 2070 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1100 2300 -1100 -1 0
C 2300 -1200 "PB1" 2300 -1200 0 0 60 0 R
X "PIN_TEXT" "PB1" 2070 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1200 2300 -1200 -1 0
C 2300 -1300 "PB0" 2300 -1300 0 0 60 0 R
X "PIN_TEXT" "PB0" 2070 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1300 2300 -1300 -1 0
C 2300 -1400 "AT1" 2300 -1400 0 0 60 0 R
X "PIN_TEXT" "AT1" 2070 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1400 2300 -1400 -1 0
C 2300 -1500 "AT0" 2300 -1500 0 0 60 0 R
X "PIN_TEXT" "AT0" 2070 -1530 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1500 2300 -1500 -1 0
C 2300 -1600 "OSC_IN" 2300 -1600 0 0 60 0 R
X "PIN_TEXT" "OSC_IN" 2070 -1630 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1600 2300 -1600 -1 0
C 300 800 "EP_(GND)" 300 800 0 0 60 0 R
X "PIN_TEXT" "EP_(GND)" 330 570 90 0.00 60 0 0 2 0 0 1 0 74
L 300 600 300 800 -1 0
C 400 800 "VDD_3" 400 800 0 0 60 0 R
X "PIN_TEXT" "VDD_3" 430 570 90 0.00 60 0 0 2 0 0 1 0 74
L 400 600 400 800 -1 0
C 500 800 "PB7" 500 800 0 0 60 0 R
X "PIN_TEXT" "PB7" 530 570 90 0.00 60 0 0 2 0 0 1 0 74
L 500 600 500 800 -1 0
C 600 800 "PB6" 600 800 0 0 60 0 R
X "PIN_TEXT" "PB6" 630 570 90 0.00 60 0 0 2 0 0 1 0 74
L 600 600 600 800 -1 0
C 700 800 "PB5" 700 800 0 0 60 0 R
X "PIN_TEXT" "PB5" 730 570 90 0.00 60 0 0 2 0 0 1 0 74
L 700 600 700 800 -1 0
C 800 800 "PB4" 800 800 0 0 60 0 R
X "PIN_TEXT" "PB4" 830 570 90 0.00 60 0 0 2 0 0 1 0 74
L 800 600 800 800 -1 0
C 900 800 "PB3" 900 800 0 0 60 0 R
X "PIN_TEXT" "PB3" 930 570 90 0.00 60 0 0 2 0 0 1 0 74
L 900 600 900 800 -1 0
C 1000 800 "PD1" 1000 800 0 0 60 0 R
X "PIN_TEXT" "PD1" 1030 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 600 1000 800 -1 0
C 1100 800 "PD0" 1100 800 0 0 60 0 R
X "PIN_TEXT" "PD0" 1130 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 600 1100 800 -1 0
C 1200 800 "PC12" 1200 800 0 0 60 0 R
X "PIN_TEXT" "PC12" 1230 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 600 1200 800 -1 0
C 1300 800 "PC11" 1300 800 0 0 60 0 R
X "PIN_TEXT" "PC11" 1330 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 600 1300 800 -1 0
C 1400 800 "PC10" 1400 800 0 0 60 0 R
X "PIN_TEXT" "PC10" 1430 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 600 1400 800 -1 0
C 1500 800 "PA15" 1500 800 0 0 60 0 R
X "PIN_TEXT" "PA15" 1530 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1500 600 1500 800 -1 0
C 1600 800 "PA14" 1600 800 0 0 60 0 R
X "PIN_TEXT" "PA14" 1630 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1600 600 1600 800 -1 0
C 1700 800 "VDDUSB" 1700 800 0 0 60 0 R
X "PIN_TEXT" "VDDUSB" 1730 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1700 600 1700 800 -1 0
C 1800 800 "PA13" 1800 800 0 0 60 0 R
X "PIN_TEXT" "PA13" 1830 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1800 600 1800 800 -1 0
C 1900 800 "PA12" 1900 800 0 0 60 0 R
X "PIN_TEXT" "PA12" 1930 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1900 600 1900 800 -1 0
C 2000 800 "PA11" 2000 800 0 0 60 0 R
X "PIN_TEXT" "PA11" 2030 570 90 0.00 60 0 0 2 0 0 1 0 74
L 2000 600 2000 800 -1 0
L 200 600 2100 600 -1 0
L 2100 -2200 2100 600 -1 0
L 2100 -2200 200 -2200 -1 0
L 200 600 200 -2200 -1 0
P "$LOCATION" "?" 2150 770 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

